<<<<<<< HEAD
 $primary-color:rgb(149, 216, 24);
 $font-white-color:rgb(233, 233, 233);
 $font-gray-color:#868686;
=======
 $primary-color:rgb(149, 216, 24);
 $font-white-color:rgb(233, 233, 233);
 $font-gray-color:#868686;
>>>>>>> 91b7712959c5a499ce2b644b9da83a055038a85f
 $font-family-Abril:'Abril Fatface', cursive, sans-serif;