
 $primary-color:rgb(149, 216, 24);
 $font-white-color:rgb(233, 233, 233);
 $font-gray-color:#868686;

 $primary-color:rgb(149, 216, 24);
 $font-white-color:rgb(233, 233, 233);
 $font-gray-color:#868686;

 $font-family-Abril:'Abril Fatface', cursive, sans-serif;
